Implement RFC 6531 (SMTP Extension for Internationalized Email)

Is it possible to implement Proposed Standard RFC 6531?
Right now we're experincing a problems with German users, which has umplauts in their usernames. Like, " Address in mailbox given [äle@domain.org] does not comply with RFC 2822, 3.6.2.done "

We can't force them to change emails, because they are already using them and experience no problems at other services.


+1

+1

:+1: 

I've found a way to hack SwiftMailer to be able to work with i18ed email addresses.  
Check this gist: https://gist.github.com/e1himself/58c53aeef31a45345172  
We use this hack in our project, so it's verified it's working on SwiftMailer v5.2.2.

What also seems to work, but requires PHP7, is to switch all PCRE-calls to UTF-8 mode and then use the new Unicode codepoint escape syntax to augment to `atext` block in SwiftMailer's Grammar class:

Grammar.php:84
```
self::$_grammar['atext'] = '[a-zA-Z0-9\u{0080}-\u{07ff}\u{0800}-\u{ffff}\u{10000}-\u{10ffff}!#\$%&\'\*\+\-\/=\?\^_`\{\}\|~]';
```

MailboxHeader.php:346
```
if (!preg_match('/^'.$this->getGrammar()->getDefinition('addr-spec').'$/Du',
```

This is basically what RFC 6531 is all about, but absolutely not the best way to do it. You'd have to rewrite SwiftMailer completely and make it more abstract for it to allow RFC 5321-based email messages (RFC 5321 = the current SMTP version from 2008; SwiftMailer is still based on RFC 2822 from 2001).

No need for PHP7, the `Unicode codepoint escape syntax` is about strings not about regex.
The PCRE engine already supports unicode without any problems.

@sstok: Yup, but those aren't included in `[a-z]`, obviously. The regular expressions used by SwiftMailer do not support Unicode (UTF-8) character sequences, so you have to augment them. One of the easier ways to do this, is to use unicode codepoints in PHP7 to specify the desired Unicode character ranges.

Any news regarding the plan to implement this / allow unicode in pre-@ part? Just bitten by this. Symfony Email validator allows users to enter umlauts etc, but later sending with SwiftMailer will fail...

+1

fixed in master

@cerlestes Your diff works perfectly for legacy code that is hard to update!
Thank you very much!