Mime Boundary not correct

Hi I'm from https://www.sparkpost.com/ and noticed something with SwiftMailer MIME boundary.

SwiftMailer produces a mime boundary [here](https://github.com/swiftmailer/swiftmailer/blob/5.x/lib/classes/Swift/Mime/SimpleMimeEntity.php#L412) 
The _interesting_ thing is it uses `=` as part of the characters in the boundary  #sequence.

According to RFC2046 `_` and `=` are valid in mime boundary
See: https://tools.ietf.org/html/rfc2046

```
boundary := 0*69<bchars> bcharsnospace

     bchars := bcharsnospace / " "

     bcharsnospace := DIGIT / ALPHA / "'" / "(" / ")" /
                      "+" / "_" / "," / "-" / "." /
                      "/" / ":" / "=" / "?"
```

The multi-parts message spec is not specific on whether the boundary value should be quoted or not, and it does say that some non-alphanumeric characters/punctuations are legal. However, if not in quotes, the presence of some of the non-alphanumeric characters does break other RFCs concerning header field (e.g. RFC2822, RFC2045). So, if, e.g. there will be '=' or '-' or ' ' (whitespace) or ';' etc. among the boundary value, code should add quotes around it. Overall, it's a good practice that the boundary be treated just as attributes of other headers - always quote it, so that a clean attribute=value pair can be identified.

It is helpful to search RFC2046 for `boundary=` and note that simple boundary are not quoted but anytime a non [a-z][A-Z][0-9] character is used the boundary is quoted.

In testing this causes intermittent problems when sending attachments.

I propose remove `=` from boundary (to make things more reliable) and quote the boundary sequence so it will appear like this:

Content-Type: multipart/alternative; boundary="_X_swift_v4_1458901746_7c7276005fa2659f6ddd6a4e60f7ccea_X_"


Upon further review it appears RFC2046 does insist upon quoting boundary where the boundary is similar to SwiftMailer:

https://www.ietf.org/rfc/rfc2046.txt See section *5.1.1.  Common Syntax*
```
WARNING TO IMPLEMENTORS:  The grammar for parameters on the Content-
   type field is such that it is often necessary to enclose the boundary
   parameter values in quotes on the Content-type line.  This is not
   always necessary, but never hurts. Implementors should be sure to
   study the grammar carefully in order to avoid producing invalid
   Content-type fields.  Thus, a typical "multipart" Content-Type header
   field might look like this:

     Content-Type: multipart/mixed; boundary=gc0p4Jq0M2Yt08j34c0p

   But the following is not valid:

     Content-Type: multipart/mixed; boundary=gc0pJq0M:08jU534c0p

   (because of the colon) and must instead be represented as

     Content-Type: multipart/mixed; boundary="gc0pJq0M:08jU534c0p"

```

The relevant part of the spec is [RFC 2045, section 5.1](https://tools.ietf.org/html/rfc2045#section-5.1). According to this, parameter values must be quoted if they contain any of these characters: `( ) < > @ , ; : \ " / [ ] ? =` or space or control characters.

I checked a random message generated by Swift Mailer, and it looks like this:
```
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="_=_swift_v4_1520575117_06fdf619d0badfc965b509fadac1812c_=_"

--_=_swift_v4_1520575117_06fdf619d0badfc965b509fadac1812c_=_
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable
```

The boundary is quoted, as required by the spec. So I don't understand what the problem is?

I believe this was fixed already 725223b and a9ccae2.

Maybe this issues should be closed?

Sorry, I am not sure if this is still an issue or not. 

Two years ago a few folks contacted us (SparkPost) about their emails were not getting accepted. When I looked into those issues the boundary contained characters that we expected to be quoted.

If Swift mailer quotes the boundary per the RFC that you quoted above it seems this issue should be closed.

Closing then.