Address in mailbox given does not comply with RFC 2822

<!-- Please fill in this template according to your issue. -->

| Q                   | A
| ------------------- | -----
| Bug report?         | yes
| Feature request?    | no
| RFC?                | no
| How used?           | Symfony
| Swiftmailer version | symfony/swiftmailer-bundle: ^2.6.4
| PHP version         | 7.2.19

### Observed behaviour
Hello, I am using Monolog to send emails when an error occurs:

```
        critical:
            type: fingers_crossed
            action_level: critical
            handler: grouped
        grouped:
            type: group
            members: [streamed, deduplicated]
        streamed:
            type: rotating_file
            path: '%kernel.logs_dir%/critical.%kernel.environment%.log'
            level: critical
            max_files: 15
        deduplicated:
            type: deduplication
            time: 120
            handler: swift
        swift:
            type: swift_mailer
            from_email: '%mailer_from_email_address% <%mailer_from_email_address%>'
            to_email: '%mailer_internal_email_address%'
            subject: '%mailer_error_subject%'
            level: info
            formatter: monolog.formatter.html
            content_type: text/html
```

As you can see I am using the format `Full Name <test@example.com>' in order to get a sender name but I receive this error:

```
PHP Fatal error:  Uncaught Swift_RfcComplianceException: Address in mailbox given [Full Name <test@example.com>] does not comply with RFC 2822, 3.6.2. in /home/luca/Sites/never_alone/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php:345
```

### Expected behaviour
The format is really valid, if you use a validator:

http://sphinx.mythic-beasts.com/~pdw/cgi-bin/emailvalidate

"Full Name <test@example.com>" is a valid email address.

Thanks!

The main reason this error is throw, your email given does respect the
email with comment, the system do expecte an add_spec token, so the error
message should be clearer

The error, specificaly reference the RFC 2822 Section 3.6.2 which should
accept an angl-addr like you provided.

the exception should reference addr-spec as defined in section 3.4.1 of
RFC-2822

Regarding monolog, i suspect you can have from_email and from_label (or
from name or comment).

On Fri, Jul 5, 2019 at 3:50 PM lukepass <notifications@github.com> wrote:

> Q A
> Bug report? yes
> Feature request? no
> RFC? no
> How used? Symfony
> Swiftmailer version symfony/swiftmailer-bundle: ^2.6.4
> PHP version 7.2.19 Observed behaviour
>
> Hello, I am using Monolog to send emails when an error occurs:
>
>         critical:
>             type: fingers_crossed
>             action_level: critical
>             handler: grouped
>         grouped:
>             type: group
>             members: [streamed, deduplicated]
>         streamed:
>             type: rotating_file
>             path: '%kernel.logs_dir%/critical.%kernel.environment%.log'
>             level: critical
>             max_files: 15
>         deduplicated:
>             type: deduplication
>             time: 120
>             handler: swift
>         swift:
>             type: swift_mailer
>             from_email: '%mailer_from_email_address% <%mailer_from_email_address%>'
>             to_email: '%mailer_internal_email_address%'
>             subject: '%mailer_error_subject%'
>             level: info
>             formatter: monolog.formatter.html
>             content_type: text/html
>
> As you can see I am using the format `Full Name test@example.com' in
> order to get a sender name but I receive this error:
>
> PHP Fatal error:  Uncaught Swift_RfcComplianceException: Address in mailbox given [Full Name <test@example.com>] does not comply with RFC 2822, 3.6.2. in /home/luca/Sites/never_alone/vendor/swiftmailer/swiftmailer/lib/classes/Swift/Mime/Headers/MailboxHeader.php:345
>
> Expected behaviour
>
> The format is really valid, if you use a validator:
>
> http://sphinx.mythic-beasts.com/~pdw/cgi-bin/emailvalidate
>
> "Full Name test@example.com" is a valid email address.
>
> Thanks!
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/swiftmailer/swiftmailer/issues/1205?email_source=notifications&email_token=AAAME7OX2RSUHW4HXY7PCBTP55GSPA5CNFSM4H6LP3IKYY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNVSW45C7NFSM4G5SAB5A>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAAME7IVD5I5TBMWDRMH6BLP55GSPANCNFSM4H6LP3IA>
> .
>


-- 
Xavier De Cock
GPG Fingerprint: 93CA EE3F 9F57 5BE1 AE4A  794D 3C74 CA9E E7A5 0C1B
GPG Id: 0xE7A50C1B


Unfortunately Monolog doesn't offer an option to set the from name. These are all the available parameters:

```
swift:
    type: swift_mailer
    from_email: sender@example.com
    to_email:
        - to@example.com
    subject: Test subject
    level: info
    formatter: monolog.formatter.html
    content_type: text/html
    priority: 0
    bubble: true
    app_name: null
    include_stacktraces: false
    process_psr_3_messages: null
    path: /var/logs/prod.log
    file_permission: null
    use_locking: false
    filename_format: '{filename}-{date}'
    date_format: Y-m-d
    ident: false
    logopts: 1
    facility: user
    max_files: 0
    action_level: WARNING
    activation_strategy: null
    stop_buffering: true
    passthru_level: null
    excluded_404s: {  }
    excluded_http_codes: {  }
    accepted_levels: {  }
    min_level: DEBUG
    max_level: EMERGENCY
    buffer_size: 0
    flush_on_overflow: false
    exchange_name: log
    message_format: text
    api_version: null
    channel: null
    bot_name: Monolog
    use_attachment: true
    use_short_attachment: false
    include_extra: false
    icon_emoji: null
    notify: false
    nickname: Monolog
    use_ssl: true
    title: null
    host: null
    port: 514
    index: monolog
    document_type: logs
    ignore_error: false
    config: {  }
    members: {  }
    headers: {  }
    mailer: mailer
    lazy: true
    time: 60
    deduplication_level: 400
    store: null
    client_id: null
    auto_log_stacks: false
    release: null
    environment: null
    message_type: 0
    tags: {  }
    console_formater_options: {  }
    nested: false
```

Maybe the request should be done there because your suggestion will break api.

And could "botname/nickname" be what you're searching?

Address in mailbox given [] does not comply with RFC 2822, 3.6.2.
