Content-Type MIME types filter prevent Outlook from processing the calendar invites and cancellations correctly

If MIME type equals 'text/calendar' it should allow method=REQUEST and method=CANCEL in the content-type header. filtering these and disallowing them to be injected into the header appears to prevent Outlook from processing the calendar invites and cancellations correctly. 

Outlook ICS file header for an invite request:
Content-Type: text/calendar; charset="utf-8"; method=REQUEST
Content-Transfer-Encoding: base64

Outlook ICS file header for an cancellation request:
Content-Type: text/calendar; charset="utf-8"; method=CANCEL
Content-Transfer-Encoding: base64

@maxvaser Is there a reference or documentation available?

Yes. It took some serious searching. But, I found it. Here's an excerpt from RFC6047 (iCalendar Message-Based Interoperability Protocol (iMIP))

[https://tools.ietf.org/html/rfc6047#section-2.4](https://tools.ietf.org/html/rfc6047#section-2.4)

2.4.  Content-Type Header Field

      A MIME body part containing content information that conforms to this
      document MUST have an [RFC2045] "Content-Type" value of
      "text/calendar".  The [RFC2045] "Content-Type" header field **MUST also
      include the MIME parameter "method".  The value MUST be the same
      (ignoring case) as the value of the "METHOD" property within the
      iCalendar object.**

      Note 1: A MIME message containing multiple iCalendar objects with
      different "method" values MUST be further encapsulated with a
      "multipart/mixed" MIME entity [RFC2046].  This will allow each of
      the iCalendar objects to be encapsulated within their own
      "text/calendar" MIME entity.

      Note 2: A MIME body part with a "Content-Type" value of
      "text/calendar" that lacks the "method" parameter is not
      considered to be an iMIP body part and thus is not subject to the
      requirements specified in this document.

      Note that according to [iCAL] the default character set for iCalendar
      objects is UTF-8 [UTF-8].  However, the default character set for a
      "text/*" MIME entity according to [RFC2046] is US-ASCII.  Thus, a
      "charset" MIME parameter MUST be present if the iCalendar object
      contains characters that can't be represented in the US-ASCII
      character set and, as specified in [iCAL], it MUST have the value
      "UTF-8".

      The optional "component" MIME parameter defines the iCalendar
      component type contained within the iCalendar object.


